.statsRow {
    display: flex;
    flex-direction: row;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}


.confirm-card {
    display: flex;
    flex-direction: row;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.card-name-div {
    width: 20%;
    border-right: 1px solid #e0e0e0;
    padding: 10px;

    @media (max-width: 768px) {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #e0e0e0;
    }
}

.taken-items {
    padding: 10px;
    border-right: 1px solid #e0e0e0;
    width: 75%;

    .taken-item {
        font-weight: 500;
    }

    @media (max-width: 768px) {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #e0e0e0;
    }
}


.card-button-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    min-width: 130px;
    padding: 10px;

    @media (max-width: 768px) {
        width: 100%;
    }
}