:root {
    /* Colors */
    --media-blue: #000658;
}

/* Import font from local folder*/
@font-face {
    font-family: 'MediaRoundedBold';
    src: url('./fonts/AMArialRDBD.ttf') format('truetype');
}



* {
    box-sizing: border-box;
}

/* CSS class for using space in the navbar */

.centerTopAccessories {
    display: static;
    position: fixed;
    z-index: 1021;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
    max-width: 70%;
    overflow: hidden;

    @media (min-width: 990px) {
        @media (max-width: 1150px) {
            transform: translateX(5%);
        }
    }

    /* Floating glass background */
    background: rgba(255, 255, 255, 0.137);
    border-radius: 10px;
    padding: 10px;

    /* Shadow */
    box-shadow: 0px 0px 10px 0px #00000081;

}

/* Toasts */

.indexToasts {
    @media (min-width: 1151px) {
        right: 0;
        top: 80px;
    }

    @media (max-width: 1150px) {
        left: 50%;
        transform: translateX(-50%);
        top: 0;
    }
}

/* AMBlue Button */
button.mediaBlue {
    background-color: var(--media-blue);
    border-color: var(--media-blue);
    border-width: 2px;
    color: white;
    transition: 0.2s linear;

    &:hover {
        background-color: #ffffff;
        color: black;
        border-color: var(--media-blue);
        border-width: 2px;
        transition: 0.2s linear;
    }
}


#toTop {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--media-blue);
    color: white;
    cursor: pointer;
    padding: 15px;
    display: none;
    border-radius: 50%;
}

#toTop:hover {
    background-color: #555;
    animation-name: changefontsize;
    animation-duration: 0.5s;
    font-size: 22px;
}

@keyframes changefontsize {
    from {
        font-size: 18px;
    }

    to {
        font-size: 22px;
    }
}

#presetsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex-direction: row;
}


#reader {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

#scanner_footer {

    .btn-dark:active,
    .btn-dark:hover {
        color: #fff !important;
        background-color: var(--bs-dark) !important;
        border-color: var(--bs-dark) !important;
    }

    .btn-outline-dark:active,
    .btn-outline-dark:hover {
        color: var(--bs-dark) !important;
        background-color: #fff !important;
        border-color: var(--bs-dark) !important;
    }

    .btn:focus,
    .btn:hover {
        text-decoration: none !important;
    }

}


.btn\ btn-primary {
    color: white;
    background-color: var(--media-blue);
    border-color: var(--media-blue);
    border-width: 2px
}

.btn\ btn-primary:hover {
    color: black;
    background-color: #ffffff;
    border-color: var(--media-blue);
    border-width: 2px
}

.autocomplete {
    position: relative;
    display: inline-block;
}


input {
    border: 1px solid transparent;
    background-color: #dfdfdf;
    padding: 10px;
    font-size: 16px;
}

input[type=submit] {
    color: #fff;
    cursor: pointer;
}


/*the container must be positioned relative:*/
/* .autocomplete {
    position: relative;
    display: inline-block;
} */


#dataTable {
    width: 100vw;
    max-height: 75dvh;
    overflow: auto;

    th {
        a {
            cursor: pointer;
        }
    }

    @media (max-width: 990px) {
        display: block;
        max-height: 65dvh;
    }
}


.tableparent {
    display: grid;
    place-items: center;
    overflow: hidden;
}

.se-pre-con {
    display: grid;
    place-items: center;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 9999;
}

.maintanence-admin {
    vertical-align: middle;
    margin-bottom: 10px;
}

.maintanence-admin tbody tr td input#showOldTasks {
    margin-left: 5px;
    margin-right: 5px;
}


label#old_tasks {
    text-align: center;
    font-size: 18px;
    color: #858585;

}

.takaritasirend {
    border: 2px solid #0e0a7d;
    display: block;
    overflow: auto;
    white-space: nowrap;
    width: 90vw;
    max-width: fit-content;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);

}

.takaritasirend td {
    border: 1px var(--media-blue);
    border-style: dotted;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: large;
    text-align: center;

}

.takaritasirend th {
    font-size: x-large;
    border: 1px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-style: solid;
}

.table-Control {
    margin-bottom: 20px;
}

.box {
    display: block;
    width: auto;
    min-height: 50px;
    height: auto;
    z-index: 20000;
    border: 1px solid black;
    background-color: white;
    color: Black;
    border: 1px dotted green;
}

.selectedUsers {
    border: 1px dotted green;
}

.logintable {
    width: 15%;
    text-align: center;
    margin: 0 auto;

    tbody tr td form button {
        width: 100%;
        box-sizing: border-box;
    }
}

#chpass {
    width: 300px;
}


#user-check {
    display: block;
    overflow: auto;
    white-space: nowrap;
    width: 95vw;
    height: 85vh;
    max-width: fit-content;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);

    .event td {
        position: relative;
        white-space: normal;
        width: 20vw;
        min-width: 100px;
        overflow: auto;

    }

    @media (max-width: 990px) {
        white-space: normal;
    }
}

#unavailable {
    font-size: 18px;
    color: red;
}


body {
    font: 16px Arial;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-name: liftUp;
}


.panel-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    white-space: normal;
}



@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        top: 70px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        top: 70px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

@-webkit-keyframes liftUp {
    0% {
        top: 0;
    }

    100% {
        top: -15px;
    }
}

@keyframes liftUp {
    0% {
        top: 0;
    }

    100% {
        top: -15px;
    }
}

#stat-table {
    display: block;
    overflow: auto;
    white-space: nowrap;

    width: 95vw;
    height: calc(100vh - 350px);
    max-width: fit-content;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);

    @media (max-width: 990px) {
        white-space: normal;

    }
}

.form-check-input {
    border-left: 40px;
}

.sideHelp {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #222;
    /* Black*/
    overflow-y: hidden;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    padding-left: 10px;
}

table {
    text-align: left;
}

.closebtn {
    color: white;
    transition: .8s ease-in-out;
    display: block;
}

.closebtn:hover {
    color: red;
    transform: rotateX(45deg);
    transition: 0.5s;
    -webkit-transform: rotateX(45deg);
    -moz-transform: rotateX(45deg);
    -o-transform: rotateX(45deg);
}

#deleteEventName {
    position: relative;
    color: #dbdbdb;
    text-align: left;
    font-size: 10;
    align-items: right;
}

#exampleModalLabel {
    position: absolute;
    font-size: 30;
}

/* Worksheet.php */

.worksheet {
    padding: 20px;
}

@media print {

    .noprint,
    .noprint * {
        display: none !important;
    }
}

.successtable {
    width: 30%;
}

.help-logintable {
    width: 30%;
    text-align: center;
    margin: 0 auto;

    @media (max-width: 990px) {
        width: 60%;
    }
}

.nav {
    box-align: left;
}

#navbarSupportedContent .navbar-nav .nav-link .nav-sandwich {
    display: none;
}

.navbar-toggler {
    margin-right: 10px;
}

@media (max-width: 990px) {
    #navbarSupportedContent .navbar-nav .nav-link {
        padding-left: 15px;

        .nav-sandwich {
            padding-left: 50px;
            display: inline-flex;
        }

        .nav-icon {
            display: inline-block;
            width: 30px;
        }
    }
}


.ab {
    color: #3b3b3b;
    transition: 0.5s;
}

.ab:hover {
    color: #ffffff;
    border-radius: 25px;
    transition: 0.5s;

}

.ab a {
    border: 1px solid #3b3b3b;
    transition: 0.5s;
}

.ab a:hover {
    border: 1px solid #ffffff;
    background-color: #3b3b3b;
}

.rainbow {
    -webkit-animation: color 15s linear infinite;
    animation: color 15s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: calc(2rem + 1vw);
    margin-bottom: 15px;
    margin-top: 15px;
}

.szoveg {
    width: 90%;
    margin: auto;
}

.drag-zone {
    border: 3px solid #ccc;
    min-height: 100px;
    padding: 10px;
    border-style: dotted;
}

.formElement {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.formElement:hover {
    border: 2px solid aqua;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    background-color: #eee;
}

.modifyButton {
    margin-left: 20px;
}

.formElementText {
    margin-left: 20px;
}

.editorZone {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formElementEditorField {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: -10px;
    display: inline-block;

}

.registererror {
    font-size: 20px;
    color: red;
}

.success {
    font-size: 20px;
    color: green;
    background-color: #669999;
}

.signuptable {
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}

/* INDEX.PHP */

@media (min-height: 500px) {
    footer {
        display: block;
    }
}

@media (max-height: 499px) {
    footer {
        display: none;
    }
}

#errorbox {
    position: relative;
    text-align: center;
}

.login-body {
    background: linear-gradient(to top, #d3d3d3, #acacac);
}

.login {
    max-width: 300px;
    width: 100%;
    display: block;
    padding: 20px;
    background: #fff;
    border-radius: 15px;

    box-shadow: #00000081 0px 0px 10px 0px;

    .form-label {
        margin-bottom: 0;
    }

    .form-control {
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none !important;
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 4px 4px 0 0;
    }

    #zsoka {
        font-size: 40px;
        font-family: 'MediaRoundedBold';
        color: #1d2660;
    }

    .submit-btn {
        background: linear-gradient(135deg, #ff7052, #1d2660);
        color: #fff;
        border: none;
    }
}

.submit {
    width: 45px;
    height: 45px;
    display: block;
    margin: 0 auto -15px auto;
    background: #fff;
    border-radius: 100%;
    border: 1px solid #FF7052;
    color: #FF7052;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 0px 0px 7px #fff;
    transition: 0.2s ease-out;

    &:hover,
    &:focus {
        background: #FF7052;
        color: #fff;
        outline: 0;
    }
}

.feedback {
    position: relative;
    bottom: 28px;
    width: 100%;
    text-align: center;
    color: #fff;
    background: #2ecc71;
    padding: 10px 0;
    font-size: 18px;
    border-radius: 10px;
    display: none;
    opacity: 0;

    &:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(46, 204, 113, 0);
        border-bottom-color: #2ecc71;
        border-width: 10px;
        margin-left: -10px;
    }

}

#pf-curr-items {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

    .row {
        width: fit-content;

        .col {
            display: flex;
            align-items: center;
        }
    }

    .col#item-name {
        display: block;
        text-overflow: ellipsis;
        text-align: right;
    }

    .modal-header {
        min-height: 100px;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;

        .modal-title {
            height: auto;
            width: 80%;
        }
    }
}


#userlist {
    display: block;
    overflow: auto;
    white-space: nowrap;
    height: 90dvh;
    width: fit-content;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#documents {
    width: 30%;
    text-align: center;
    margin: 0 auto;

    @media (max-width: 990px) {
        width: 60%;
    }
}

/* UI INIT */

.UI_loading {
    display: grid;
    place-items: center;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgb(255, 255, 255);
}

.loadingAnimation {
    width: 100px;
    height: 100px;
}

.loadText {
    color: #ffffff;
}


/*Other */
.rainbow {
    -webkit-animation: color 10s linear infinite;
    animation: color 10s linear infinite;
}

@-webkit-keyframes color {
    0% {
        color: #316B83;
    }

    20% {
        color: #22577A;
    }

    40% {
        color: #38A3A5;
    }

    60% {
        color: #57CC99;
    }

    80% {
        color: #38A3A5;
    }

    100% {
        color: #316B83;
    }
}

@keyframes color {
    0% {
        color: #316B83;
    }

    20% {
        color: #22577A;
    }

    40% {
        color: #38A3A5;
    }

    60% {
        color: #57CC99;
    }

    80% {
        color: #38A3A5;
    }

    100% {
        color: #316B83;
    }
}

nav {
    font-size: large;
}

nav .navbarPhP {
    font-size: 1.3rem !important;
}

.navbar-brand {
    padding-left: 15px;
}

.successtable {
    z-index: 999;
    position: relative !important;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.successtable2 {
    z-index: 999;
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    color: white;
}

#logoutBtn {
    margin-left: 10px;
    margin-right: 20px;
}

.ab a {
    border-style: 1px solid #3b3b3b;
    color: #3b3b3b;
    transition: 0.5s;
}

.ab td:hover {
    background-color: #3b3b3b;
}

.ab a:hover {
    color: #ffffff;
}

#note {
    z-index: 10;
}

.formmain {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    width: 30%;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    border-radius: 50px;
    box-shadow: 10px 6px 50px grey;
}


#damage_report {
    display: grid;
    justify-content: center;
    align-items: center;

    div.row {
        width: 800px;
        justify-content: center;
        margin-bottom: 10px;

        .col#submit {
            display: grid;
            justify-content: center;
        }

        @media (max-width: 990px) {
            width: 80vw;
        }
    }
}

.nothing_here {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    display: block;
    text-align: center;
}


/* Peoject manager */

.uzifalcard {
    padding-left: 0 !important;
    padding-right: 0 !important;
}