.sideHelp {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #222;
    /* Black*/
    overflow-y: hidden;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    padding-left: 10px;
}

table {
    text-align: left;
}

.closebtn {
    color: white;
    transition: .8s ease-in-out;
    display: block;
}

.closebtn:hover {
    color: red;
    transform: rotateX(45deg);
    transition: 0.5s;
    -webkit-transform: rotateX(45deg);
    -moz-transform: rotateX(45deg);
    -o-transform: rotateX(45deg);
}

#calendar {
    margin-left: 2%;
    width: 90%;
}

#deleteEventName {
    position: relative;
    color: #dbdbdb;
    text-align: left;
    font-size: 10;
    align: right;
}

#exampleModalLabel {
    position: absolute;
    font-size: 30;
}

/* Worksheet.php */

body.worksheet{
    padding: 20px;
}

@media print
{    
    .noprint, .noprint *
    {
        display: none !important;
    }
}