.drag-zone {
    border: 3px solid #ccc;
    min-height: 100px;
    padding: 10px;
    border-style: dotted;
}

.formElement {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.formElement:hover {
    border: 2px solid aqua;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    background-color: #eee;
}

.modifyButton {
    margin-left: 20px;
}

.formElementText {
    margin-left: 20px;
}

.editorZone {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formElementEditorField {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: -10px;
    display: inline-block;

}