.successtable {
    width: 30%;
}

.logintable {
    width: 15%;
    text-align: center;
    margin: 0 auto;
}

.nav {
    box-align: left;
}

.col-6 {
    border-style: solid;
    border-width: 1px;
    transition: 0.5s;
    text-align: center;
}

.col-6:hover {
    background-color: #3b3b3b;
    border-radius: 25px;
}

.ab {
    color: #3b3b3b;
    transition: 0.5s;
}

.ab:hover {
    color: #ffffff;
}

.rainbow {
    -webkit-animation: color 15s linear infinite;
    animation: color 15s linear infinite;
}

.szoveg {
    width: 90%;
    margin: auto;
}

@-webkit-keyframes color {
    0% {
        color: #000000;
    }

    20% {
        color: #c91d2b;
    }

    40% {
        color: #ba833e;
    }

    60% {
        color: #0f6344;
    }

    80% {
        color: #09457a;
    }

    100% {
        color: #5f0976;
    }
}

@keyframes background {
    0% {
        color: #000000;
    }

    20% {
        color: #c91d2b;
    }

    40% {
        color: #ba833e;
    }

    60% {
        color: #0f6344;
    }

    80% {
        color: #09457a;
    }

    100% {
        color: #5f0976;
    }
}