@media print{
  .noprint {
    display: none;
  }
}

/* UI INIT */

.UI_loading {
  display: grid;
  place-items: center;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0,0,0,1);
}
.loadingAnimation{
  width: 100px;
  height: 100px;
}

.loadText{
  color: #ffffff;
}


/*Other */
.rainbow {
  -webkit-animation: color 15s linear infinite;
  animation: color 15s linear infinite;  
}

@-webkit-keyframes color {
  0% { color: #000000; }
  20% { color: #c91d2b; } 
  40% { color: #ba833e; }
  60% { color: #0f6344; }
  80% { color: #09457a; }
  100% { color: #5f0976; }
}

@keyframes color {
  0% { color: #000000; }
  20% { color: #c91d2b; } 
  40% { color: #ba833e; }
  60% { color: #0f6344; }
  80% { color: #09457a; } 
  100% { color: #5f0976; }
}

nav {
  font-size: large;
}
nav .navbarPhP {
  font-size: 1.3rem !important; 
}
.successtable{
  z-index: 999;
  position: relative !important;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.successtable2{
  z-index: 999;
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
  color: white;
}

.logintable{
  width: 15%;
  text-align: center;
  margin: 0 auto; 
}

/*.nav{
  align:left;
}*/

.col-6{
  border-style: solid;
  border-width: 1px;
  transition: 0.5s;
  text-align:center;
}

.col-6:hover{
  background-color:#3b3b3b;
  border-radius: 25px;
}

.ab{
  color: #3b3b3b;
  transition: 0.5s;
}

.ab:hover{
  color: #ffffff;
}

#note {
  z-index: 10;
}
.formmain{
  position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        width: 30%;
        transform: translate(-50%, -50%);
        background-color: #ededed;
        border-radius: 50px;
        box-shadow: 10px 6px 50px grey; 
      }