.itemsToRetrieve {
    max-width: 60dvw;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin: 0 auto;

    max-height: 75dvh;
    overflow: auto;

    &::-webkit-scrollbar-track {
        background: rgb(255, 255, 255);
        /* color of the tracking area */
    }

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(179, 179, 179);
        /* color of the scroll thumb */
        border-radius: 20px;
    }

    .itemCard {
        cursor: not-allowed;
        opacity: 0.5;
        transition: all 0.1s;
    }

    .selectable {
        cursor: pointer;
        opacity: 1;
        transition: all 0.1s;
    }

    @media (max-width: 575px) {
        max-width: 95dvw;
    }

}



#retrieve-container {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 75dvh;

    #retrieve-option-buttons {
        .btn {
            margin-bottom: 6px;
            width: fit-content;
        }

        display: flex;
        flex-direction:row;
        gap: 5px;
        row-gap: 2px;
        width: 100%;
        justify-content: center;

        @media (max-width: 575px) {
            align-items: center;
            gap: 1%;

            .btn {
                width: 49.5%;
            }

        }
    }
}

#AnnounceDamage {
    &.animate_shakeY {
        transition: all 1s cubic-bezier(.36, .07, .19, .97);
        animation: shakeY 1s cubic-bezier(.36, .07, .19, .97) both;
    }
}


#manualHolder {
    width: fit-content;
    padding: 0;

    &.animate_shakeY {
        transition: all 1s cubic-bezier(.36, .07, .19, .97);
        animation: shakeY 1s cubic-bezier(.36, .07, .19, .97) both;

        label {
            color: red;
        }
    }
}

.bottomOptions {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

    .btn {
        width: 45%;
    }
}

.planned {
    cursor: wait !important;
    border: 1px solid #189ec0;
    font-style: italic;
}

@keyframes shakeY {

    10%,
    90% {
        transform: translate3d(0, -1px, 0);
    }

    20%,
    80% {
        transform: translate3d(0, 2px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(0, -4px, 0);
    }

    40%,
    60% {
        transform: translate3d(0, 4px, 0);
    }
}