.tableparent {
    display: grid;
    place-items: center;
}

.takaritasirend {
    border: 2px solid coral;
}

.takaritasirend td {
    border: 1px coral;
    border-style: dotted;
    font-size: large;
    
}

.takaritasirend th{
    font-size: x-large;
    border: 2px coral;
    border-style: double;
}

.edit_Table_Button{
    margin-bottom: 20px;
}

.box{
    display: block;
    width: auto;
    min-height: 50px;
    height: auto;
    z-index: 20000;
    border: 1px solid black;
    background-color: white;
    color: Black;
    border: 1px dotted green;
}

.selectedUsers{
    border: 1px dotted green;
}