:root {
    --am-color: rgb(30, 42, 216);
}

.custom-kurva-anyja {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--am-color);
    --bs-btn-border-color: var(--am-color);
    --bs-btn-focus-shadow-rgb: var(--am-color);
    --bs-btn-hover-bg: var(--am-color);
    --bs-btn-hover-color: var(--bs-white);
}



.container {

    max-width: 90dvw;
    max-height: 78dvh;
    overflow: auto;

    @media (max-width: 768px) {
        max-width: 100%;
        max-height: 92dvh;
    }
}

.projectHolder {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15px;

    overflow: auto;
    max-height: 77dvh;

    &::-webkit-scrollbar-track {
        background: rgb(255, 255, 255);
        /* color of the tracking area */
    }

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(179, 179, 179);
        /* color of the scroll thumb */
        border-radius: 20px;
        /* roundness of the scroll thumb */
        /* border: 1px solid rgb(221, 221, 221); */
        /* creates padding around scroll thumb */
    }

    @media (max-width: 768px) {

        max-height: 88dvh;
    }
}

.projectCard {
    min-width: 400px;

    max-height: 60%;
    /* min-height: 60%; */
}

.projectTitle {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;

    .active {
        font-weight: bold;
    }

}


.projectDescriptionHolder {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid black; */
}

.projectDescription {
    max-width: 220px;
    overflow: hidden;
}

.projectBody {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar-track {
        background: rgb(255, 255, 255);
        /* color of the tracking area */
    }

    &::-webkit-scrollbar {
        width: 8px;
        /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(179, 179, 179);
        /* color of the scroll thumb */
        border-radius: 20px;
        /* roundness of the scroll thumb */
        /* border: 1px solid rgb(221, 221, 221); */
        /* creates padding around scroll thumb */
    }
}

.tab-content>.active {
    display: flex;
}

.tab-content {
    max-height: 92%;
}


.memberSelect {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 200px;
    overflow: auto;

    &::-webkit-scrollbar-track {
        background: rgb(255, 255, 255);
        /* color of the tracking area */
    }

    &::-webkit-scrollbar {
        width: 8px;
        /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(179, 179, 179);
        /* color of the scroll thumb */
        border-radius: 20px;
        /* roundness of the scroll thumb */
        /* border: 1px solid rgb(221, 221, 221); */
        /* creates padding around scroll thumb */
    }
}

.availableMember {
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
}

.selectedMember {
    background-color: rgb(163, 235, 175);
}

.memberBody {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.taskHolder {
    border-top: 1px solid rgb(175, 175, 175);

    &>div {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

.taskCard {
    min-width: 300px;
    max-width: 350px;
}

.editorOn {
    cursor: pointer;
}


/* EXTRA */

.form-check-input {
    margin-top: 2px;
    margin-right: 5px;
}

/* Deadline states */

.soon {
    border: 1px solid rgb(241, 227, 24);
    animation: pulseSoon 5s ease-in-out infinite alternate;
}

.future {
    border: 1px solid rgb(56, 231, 64);
    animation: pulseFuture 5s ease-in-out infinite alternate;
}

.overdue {
    border: 1px solid rgb(255, 0, 0);
    animation: pulseOverdue 1.5s ease-in-out infinite alternate;
}

@keyframes pulseSoon {
    0% {
        border-color: rgb(241, 227, 24);
    }

    100% {
        border-color: rgb(255, 198, 11);
    }
}

@keyframes pulseFuture {
    0% {
        border-color: rgb(56, 231, 64);
    }

    100% {
        border-color: rgb(26, 177, 51);
    }
}

@keyframes pulseOverdue {
    0% {
        border-color: rgb(255, 0, 0);
    }

    100% {
        border-color: rgba(0, 0, 0, .125);
    }
}